/* Reset body to take up the full window height */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Parent container setup */
.screen-split {
  display: flex;
  flex: 1;
}

/* Side panel gets 40% width */
.left-side {
  /* flex: 40; */
  width: 40%;
  background-color: #038fd6; /* Light tint so you can see it */
  padding: 20px;
}

/* Main feed panel gets 60% width */
.right-side {
  /* flex: 60; */
  width: 60%;
  background-color: #ffffff;
  padding: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
